{% extends "base_template.j2" %}
{% block title %}LSV &Delta;&Psi; Gene Summary{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/ggr-visual.css" />
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="../static/js/app.js" type="text/javascript"></script>
<script src="../static/js/modules/peakviewerD3.js" type="text/javascript"></script>
<script src="../static/js/modules/timesliderD3.js" type="text/javascript"></script>
<script src="../static/js/modules/downloadSVG.js" type="text/javascript"></script>
<script src="../static/js/modules/d3.legend.js" type="text/javascript"></script>
<script src="../static/js/modules/utilsGGR.js" type="text/javascript"></script>

{% endblock %}

{% block header %}
        {% if namePage %}Result page: {{ namePage }}{% endif %}
{% endblock %}

{% block content %}
    <div class="col-md-8 col-md-offset-4 col-lg-8 col-lg-offset-4 display_col">
      <h4><button name="play-timeslider" id="play-timeslider">Play</button> Time Series Visualizations</h4>
        <div class="slider_container"></div>
        {#          TODO: Calculate window resolutions available from file data #}
        <div>
            <label for="resolution">Window Len. / Resolution</label>
            <select id="resolution">
                {% for res in resolutions %}
                    <option value="{{ res }}" {% if loop.first %}selected{% endif %}>{{ res*2 }} kb / {{ res }} bp</option>
                {% endfor %}
            </select>
        </div>
    </div>

    {% for gene in genes %}
        <span class="gene_id"
              data-exons="{{ exons[gene] | to_json }}"
              data-resolutions="{{ resolutions | to_json }}"
              data-timepoints="{{ timepoints | to_json }}"
        >
            <h3>{{ gene }}</h3>
        </span>
        {% for pk, pk_factors in matrices.iteritems() %}
            <div class="row-fluid display_col">
              <div class="span4">
{#                TODO: {{> histmodsSelected}}#}
              </div>
              <div class="span8">
                <h4>{{ pk }}</h4>
                <button type="button" class="download-button">Download</button>
                <div class="{{ gene | replace(".", "_") }}-{{ pk }}-container peak-viewer downloadable"
                     {%  for pk_factor in pk_factors.keys() %}
                        data-{{ pk_factor }}="{{ pk_factors[pk_factor]['reads'][:][pk_factors[pk_factor]['genes'][:] == gene][0] | nparray_to_json }}"
                        data-{{ pk_factor }}name="{{ pk_factor }}"
                     {%- endfor %}
                 ></div>
              </div>
            </div>
        {%- endfor %}
        <span class="gene-separator"></span>
    {%- endfor %}

    {% if prevPage or nextPage %}
        <fieldset class="section-border">
            <legend>Summaries</legend>
            {% if prevPage %}
            <a href="{{ prevPage }}" class="prevPage">&#x276e; Previous</a>
            {% endif %}
            {% if nextPage %}
            <a href="{{ nextPage }}" class="nextPage">Next &#x276f;</a>
            {% endif %}
        </fieldset>
    {% endif %}
{% endblock %}